<a href="https://colab.research.google.com/github/dayeong918/py02/blob/master/notebook/ch3_exercises_py02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch3_exercises_py02.ipynb

## Q1.
> 다음 코드의 결괏값은 무엇일까?

```
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

```

In [115]:
# [Q1] Code   
a = "Life is too short, you need python" # 변수 a에 다음과 같은 문자열 대입.
if "wife" in a : print("wife") 
# if문 시작, 변수 a에 들어있는 문자열 중 "wife"가 있다면 wife를 출력하여라 -> 포함되지 않았으므로 출력x:(거짓), 다음 elif으로 넘어감.
elif "python" in a and "you" not in a: print("python")
# 첫번째 elif 시작, 변수 a에 들어있는 문자열 중 "python"가 포함되어있고 "you"가 포함되지 않았다면 python을 출력하여라 
# "python"와 "you"가 포함되어 있으므로 두가지 조건 모두 참이 되지 못하므로 python이 출력x:(거짓), 다음 elif문장으로 넘어감.
elif "shirt" not in a: print("shirt")
# 변수 a에 "shirt"의 문자열이 포함되어 있지 않다면 shirt를 출력하여라 -> 참이므로 shirt가 출력된다. 
elif "need" in a: print("need")
# elif는 이전 조건문이 거짓일 때 수행되므로 다음 조건문이 참이지만 need가 출력되지 않는다.
else : print("none") # 출력 x
# 코드의 결과값 : shirt

shirt

## Q2.
> while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [35]:
# [Q2] Code
sum = 0
a = 0
while a < 1000 :
  a = a +1
  if a %3 !=0 :continue
  sum = sum + a
print(sum)

166833

## Q3.
> while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

```
*
**
***
****
*****

```

In [39]:
# [Q3] Code
a = 0
while a < 5:
  a = a + 1
  print(a*"*")

*
**
***
****
*****

## Q4.
> for문을 사용해 1부터 100까지의 숫자를 출력해 보자.
- 단순 for문 사용
- 리스트 내포 사용

In [49]:
# [Q4] Code
result = [num for num in range(1,101)]
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

## Q5.
> A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

- for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [117]:
# [Q5] Code
sum = 0
scores = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
for number in range(len(scores)):
  sum = scores[number] + sum
print(sum/len(scores))

79.0

## Q6.
> 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
```
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
```

- 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [59]:
# [Q6] Code
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = [n*2 for n in numbers if n%2 ==1]
print(result)

[2, 6, 10, 14, 18]

## Q7.
> ## [Challenge] 응용 코드 : 평균 성적을 구하시오.
```
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
```

- 평균 성적을 세가지 이상의 방법으로 구하시오.

In [119]:
# [Q7] Code-1
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
sum = 0
for num in range(len(subjects)):
  sum += scores[num]
  print(subjects[num], scores[num])
print("평균점수는 %.2f" %(sum/len(subjects)))

파이썬 91
영어 67
수학 88
물리 75
평균점수는 80.25

In [113]:
# [Q7] Code-2
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
sum = 0
for num, subject in enumerate(subjects):
  score = scores[num]
  sum = score + sum
  print(subject, score)
print("평균점수 = {0}".format(sum/len(subjects)))

파이썬 91
영어 67
수학 88
물리 75
평균점수 = 80.25

In [114]:
# [Q7] Code-3
subjects = ['파이썬', '영어', '수학', '물리']
scores = [91, 67, 88, 75]
sum = 0
for subject, score in zip(subjects, scores):
  sum += score
  print(subject, score)
print("평균점수 = {0}".format(sum/len(subjects)))

파이썬 91
영어 67
수학 88
물리 75
평균점수 = 80.25

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch3_exercises_id.ipynb