<a href="https://colab.research.google.com/github/dayeong918/py02/blob/master/notebook/ch4_code01_py03..ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch4_code01_py03.ipynb
## py03
- 파이썬 함수
    - 입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 출력
        - 반복되는 부분을 함수로 전환.
        - 코딩을 모듈화
- 매개변수와 인수
- 입력값과 결괏값
    - return
    - 여러 개의 입력을 처리하는 함수(*args)
    - 키워드 파라미터 (kwargs)
    - 매개변수에 초깃값 미리 설정
- lambda 함수 정의

In [0]:
# ch4_01_function.py
#
print("함수란 무엇인가?")
#######################################
# 입력값을 가지고 어떤 일을 수행한 다음에 
# 그 결과물을 내어놓는 것
#######################################
print("==>> ","입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 내어놓는 것")

print("함수를 사용하는 이유는 무엇일까?")
#######################################
print("1" ,"반복되는 부분을 함수로 전환.")
print("2" ,"코딩을 모듈화")
#######################################

함수란 무엇인가?
==>>  입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 내어놓는 것
함수를 사용하는 이유는 무엇일까?
1 반복되는 부분을 함수로 전환.
2 코딩을 모듈화

In [0]:
print("파이썬 함수의 구조")
#######################################
"""
dpef 함수명(매개변수):
    <수행할 문장1>
    <수행할 문장2>
    ...
"""

파이썬 함수의 구조

'\ndpef 함수명(매개변수):\n    <수행할 문장1>\n    <수행할 문장2>\n    ...\n'

In [0]:
def add(a): # 매개변수의 datatype을 지정할 필요X(동적타이핑)
    print(a) # add함수가 정의됨.

In [0]:
add(100)
add("py03")

100
py03

In [0]:
#######################################
# add() 함수를 정의
def add(a, b):
    return a + b

In [0]:
# add() 함수를 사용
a=3
b=4
c=add(a,b) # a,b 호출하여 add함수의 인수로 지정함.
print(c)
d = add(3,4) # 매개변수의 인수를 직접할당함.
print(d)

x=[1,2,3]
y=[4,5,6]
z=x+y
print(z)

7
7
[1, 2, 3, 4, 5, 6]

In [0]:
z = add(x, y)
print(z)

[1, 2, 3, 4, 5, 6]

In [0]:
w = add("Hello ", "Python!")
print(w)

Hello Python!

### 매개변수와 인수

In [0]:
print("매개변수와 인수의 차이를 이해하자!")
#######################################
# 매개변수는 함수에 입력으로 전달된 값을 받는 변수
# 인수는 함수를 호출할 때 전달하는 입력값을 의미
#######################################
# add() 함수에서의 매개변수와 인수
"""
def add(a, b):  # a, b는 매개변수
    return a+b
print(add(3, 4))  # 3, 4는 인수
"""

In [0]:
print(add(a,b)) # 위에서 매개변수의 인수가 지정되어 있음.
print (add(10,50)) # 인수 바로 지정함.

7
60

### 함수의 결과값 (return ...)

In [0]:
print("입력값과 결괏값에 따른 함수의 형태")
#######################################
# 입력값 ---> 함수 ----> 결괏값
#######################################
# 일반적인 함수
# 입력값과 결괏값이 있는 함수
"""
def 함수이름(매개변수):
    <수행할 문장>
    ...
    return 결과값
"""

def add2(a, b):  # add(a,b)함수와 내부적 동작하는 곳이 다름. 
    result = a + b 
    return result


# 입력값과 결괏값이 있는 함수의 사용법
# 결괏값을 받을 변수 = 함수이름(입력인수1, 입력인수2, ...)
a = add2(3, 4)
print(a)

입력값과 결괏값에 따른 함수의 형태
7

In [0]:
#######################################
# 입력값이 없는 함수

def say(): 
    return 'Hi'


# 입력값이 없는 함수의 사용법
# 결괏값을 받을 변수 = 함수이름()
a = say()
print(a)

Hi

In [0]:
#######################################
# 결괏값이 없는 함수
# = return 값이 없는 함수

def add3(a, b): 
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))


# 결괏값이 없는 함수의 사용법
# 함수이름(입력인수1, 입력인수2, ...)
add3(3, 4)

# 다음 결과는 무엇인가? 
a = add3(3, 4)
print(a) # return값이 없는 함수를 지정하면 아무것도 반환되는 함수가 없으므로 None할당 
#

3, 4의 합은 7입니다.
3, 4의 합은 7입니다.
None

In [0]:
#######################################
# 입력값도 결괏값도 없는 함수

def say2(): 
    print('Hi')


# 입력값도 결괏값도 없는 함수의 사용법
# 함수이름()
say()

'Hi'

In [0]:
#######################################
print("매개변수의 값을 지정하여 호출하기") # (중요,어려운부분)
#######################################
def add4(a, b):
    return a+b


result = add4(a=3, b=7)  # a에 3, b에 7을 전달
print(result)
# 매개변수의 순서에 상관없이 사용
result2 = add4(b=5, a=3)  # b에 5, a에 3을 전달
print(result2)
#######################################

매개변수의 값을 지정하여 호출하기
10
8

In [0]:
result3 = add4(a=3, 7)
print(result3) 
# SyntaxError: positional argument follows keyword argument
# (중간고사 Q.8) = 매개변수에 해당하는 인수 타입은 뒤로 가야한다.

SyntaxError: ignored

In [0]:
result3 = add4(7, a=3)
print(result3)
# TypeError: add4() got multiple values for argument 'a' 
# 자동으로 7이 b로 지정이 되지 않는다.

TypeError: ignored

In [0]:
result3 = add4(b=7, a=3)
print(result3)

10

### *args
- arg: argument

In [0]:
#######################################
# argument : 매개변수
print("입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?")
#######################################
"""
def 함수이름(*매개변수): 
    <수행할 문장>
    ...
"""
# 함수의 이름은 소문자로 시작(중요)
def add_many(*args):
    result = 0 
    for i in args: 
        result = result + i 
    return result

입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?

In [0]:
add_many(1,2,3)

6

In [0]:
# add_many(1, 2, 3)
add_many(1, 2, 3, 4, 5, 6, 7, 8, 9)

result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [0]:
#######################################
print("여러 개의 입력을 처리하는 함수(*args)")
#######################################

def add_mul(choice, *args): #*args(z):여러개의 입력을 담을 수 있음.
    if choice == "add":
        result = 0 
        for i in args:
            result = result + i 
    elif choice == "mul":
        result = 1 
        for i in args: 
            result = result * i 
    return result 

# add
result = add_mul('add', 1,2,3,4,5)
print(result)
# multiply
result = add_mul('mul', 1,2,3,4,5)
print(result)

여러 개의 입력을 처리하는 함수(*args)
15
120

### 키워드 피라미터 **kwargs

In [0]:
#
#######################################
print("키워드 파라미터 **kwargs") # 매개변수=인수(key=value)
#######################################

def print_kwargs(**kwargs):
    print(kwargs)


# print_kwargs 함수는 매개변수 kwargs를 출력하는 함수
#
print_kwargs(a=1) 

print_kwargs(name='foo', age=3)

#
# **kwargs처럼 매개변수 이름 앞에 **을 붙이면 매개변수 
# kwargs는 딕셔너리가 되고 모든 key=value 형태의 결괏값이 
# 그 딕셔너리에 저장된다.
#

키워드 파라미터 **kwargs
{'a': 1}
{'name': 'foo', 'age': 3}

In [0]:
#######################################
print("함수의 결괏값은 언제나 하나")
#######################################
#
def add_and_mul(a,b): 
    return a+b, a*b

# 1,2 == (1,2) # 콤마로 구분된 데이터를 나열하면 튜플구조로 처리한다.
# add_and_mul() 사용 1.
result = add_and_mul(3,4)

print(result) # 복수 데이터를 출력할 때 튜플로 출력된다.

함수의 결괏값은 언제나 하나
(7, 12)

In [0]:
# add_and_mul() 사용 2.
result1, result2 = add_and_mul(3, 4)

result1, result2

(7, 12)

### 잘못된 함수 사용

In [0]:
######################################
print("잘못된 함수")
#######################################
def add_and_mul2(a,b): 
    return a+b   
    return a*b  # Not working!! # return은 한 번만 쓰면 된다.


result = add_and_mul2(2, 3)
print(result)

잘못된 함수
5

### return 의 용도

In [0]:
#######################################
print("return 의 용도: 함수 실행 종료")
#######################################
def say_nick(nick): 
    if nick == "바보": 
        return 
    print("나의 별명은 %s 입니다." % nick)


# say_nick("홍길동")
say_nick("바보")
say_nick("홍길동")

return 의 용도: 함수 실행 종료
나의 별명은 홍길동 입니다.

### 매개변수에 초깃값 미리 설정

In [0]:
#----------------------------------------
#######################################
print("매개변수에 초깃값 미리 설정하기")
#######################################
def say_myself(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")
    

# say_myself("박응용", 27) # default값:True값 지정안해도 출력.
# say_myself("박응용", 27, True)

say_myself("박응용", 27, False)

매개변수에 초깃값 미리 설정하기
나의 이름은 박응용 입니다.
나이는 27살입니다.
여자입니다.

In [0]:
def say_myself2(name, man=True, old): # 키워드타입 인수는 매개변수의 맨 뒤에 와야함.
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.") 
    else:
        print("여자입니다.")
    
# SyntaxError: non-default argument follows default argument
# 초깃값을 설정해 놓은 매개변수 뒤에 
# 초깃값을 설정해 놓지 않은 매개변수는 사용할 수 없다
# 초기화시키고 싶은 매개변수를 항상 뒤쪽에 놓는다.
# 키워드형식의 매개변수는 항상 뒤에 지정.

SyntaxError: ignored

In [0]:
def say_myself2(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.") 
    else:
        print("여자입니다.")

say_myself2("py02", 21, False)

나의 이름은 py02 입니다.
나이는 21살입니다.
여자입니다.

### 함수 안에서 선언한 변수의 효력 범위
- scope of a variable

In [0]:
#######################################
print("함수 안에서 선언한 변수의 효력 범위")
# 전역변수
# 지역 변수, 자동 변수
#######################################

# vartest.py (실시간 퀴즈:기말)
a = 1  # 전역 변수: 전체 코드에서 다 쓸수 있는 변수
def vartest(a): # 지역변수(매개변수):함수 안에서만 존재하는 변수
    a = a +1 

vartest(a) 
print(a) # 밖에서 존재하는 전역변수의 값

함수 안에서 선언한 변수의 효력 범위
1

In [0]:
a = 1  # 전역 변수: 전체 코드에서 다 쓸수 있는 변수
def vartest(a): # 지역변수(매개변수):함수 안에서만 존재하는 변수
    a = a +1 
    print("지역변수 a =", a)

vartest(a) 
print("전역변수 a =", a) # 밖에서 존재하는 전역변수의 값

지역변수 a = 2
전역변수 a = 1

In [0]:
# vartest_error.py
def vartest2(zz):
    zz = zz + 1 # zz는 함수내에서 사용되는 지역변수.

vartest2(3)
print(zz)  # Error , 함수 밖에서는 사용할수 없다.

NameError: ignored

In [0]:
#######################################
print("함수 안에서 함수 밖의 변수를 변경하는 방법")
# return 사용
# global 변수 사용
#######################################
# 1. return 사용하기
a = 1 
def vartest3(a): 
    a = a +1 
    return a

a = vartest3(a) 
print(a)

함수 안에서 함수 밖의 변수를 변경하는 방법
2

In [0]:
# 2. global 명령어 사용하기 (가능한 사용하지 않는다.)
a = 1 
def vartest4(): 
    global a 
    a = a+1

vartest4() 
print(a)

2

## lambda 함수 정의
- 이름 없는 함수를 정의

In [0]:
#--------   lambda  -------------------
#######################################
print("lambda")
#######################################
# lambda는 함수를 생성할 때 사용하는 예약어로 def와 동일한 역할을 한다. 
# 보통 함수를 한줄로 간결하게 만들 때 사용한다.
#
# lambda 사용법
#
# lambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 표현식
#
print("lambda를 이용한 add 함수")

add = lambda a, b: a+b

result = add(3, 4)
print(result)

# lambda 예약어로 만든 함수는 return 명령어가 없어도 결괏값을 돌려준다.

lambda
lambda를 이용한 add 함수
7

In [0]:
################################
# lambda 함수의 응용
#
models = ['K-3000', 'N-1000', 'T-2000', 'X-5000']
sorted(models, key=lambda x: x[-4:])

# So cool!!!

['N-1000', 'T-2000', 'K-3000', 'X-5000']

In [0]:
# vartest.py
a = 1
def vartest(a):
    a = a +1
    print(a)

vartest(a)
print(a)

2
1

In [0]:
# function_test.py

# scope_test()
x = 5

def scope_test():
    print(x)
    print(x+5)
    # x += 5 # UnboundLocalError: local variable 'x' referenced before assignment

scope_test()

5
10

In [0]:
# *args : multiple parameters

def args_test(*args):
    print(type(args))
    print(args)
    for arg in args:
        print(arg)
        

args_test(1, 2, 3, 4)
args_test(list(range(4)))

<class 'tuple'>
(1, 2, 3, 4)
1
2
3
4
<class 'tuple'>
([0, 1, 2, 3],)
[0, 1, 2, 3]

In [0]:
# **kawargs : keyword arguments


def kwarg_test(**kwargs):
    print(type(kwargs))
    print(kwargs)
    for item in kwargs.items():
        print(item)


kwarg_test(a=1, b='hi') 
kwarg_test(x=[1,2,3], y='Hello')

<class 'dict'>
{'a': 1, 'b': 'hi'}
('a', 1)
('b', 'hi')
<class 'dict'>
{'x': [1, 2, 3], 'y': 'Hello'}
('x', [1, 2, 3])
('y', 'Hello')

## 도전 코딩
- A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

> 함수를 사용하여 A 학급의 평균 점수를 구해 보자.
>> 함수명: average_class(A)

In [0]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

def average_class(A):  
    scores = 0
    for score in A:
      scores += score
    return (scores/len(A))

print("A학급의 평균점수는 {0}점 입니다.".format(average_class(A)))

A학급의 평균점수는 79.0점 입니다.

In [0]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

def average_class(A):
    average = 0
    average = (sum(A)/len(A))
    return average
    
print("A학급의 평균점수는 {0}점 입니다.".format(average_class(A)))

A학급의 평균점수는 79.0점 입니다.