<a href="https://colab.research.google.com/github/dayeong918/py02/blob/master/notebook/ch5_exercises_py02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch5_exercises_py02.ipynb

## Q1.
> 다음은 Calculator 클래스이다.

```
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
```
---
> 위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자. 
>> 즉 다음과 같이 동작하는 클래스를 만들어야 한다.
```
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value) # 10에서 7을 뺀 3을 출력
```

In [0]:
# [Q1] Code  
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val

class upgradeCalculator(Calculator):
    def minus(self,val2): 
        self.value -= val2

cal = upgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value)

3

## Q2.
> 객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자. 
>> 즉 다음과 같이 동작해야 한다.
```
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력
```
>> 단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.
```
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val
```

In [164]:
# [Q2] Code
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val

class MaxLimitCalculator(Calculator):
    def add(self, val):
      if (self.value + val > 100) :
         cal.value = 100
      else: self.value += val

cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력

100

## Q3.
> 다음 결과를 예측해 보자.

- 하나.
```
all([1, 2, abs(-3)-3])
```

- 둘.
```
chr(ord('a')) == 'a'
```

In [0]:
# [Q3] Code
all([1, 2, abs(-3)-3])

False

> all(x)는 리스트, 튜플, 문자열, 딕셔너리, 집합 등 반복가능한 자료형을 입력인수로 받으며, 이 x가 모두 참이면 True, 거짓이 하나라도 있으면 False를 리턴한다.
all안의 딕셔너리[1,2,abs(-3)-3]의 abs(-3)-3을 보면 abs(-3)은 -3의 절대값 3이며 3-3은 0이므로 리스트 자료형[1,2,0]중에서 요소 0은 거짓이기 때문에 False를 리턴한다.

In [0]:
# [Q3] Code
chr(ord('a')) == 'a'

True

> chr(ord('a')) == 'a'의 결과 값은 True이다. 먼저 ord('a')는 문자 'a'의 아스키 코드값을 리턴함으로써 97이라는 결과값이 도출된다.
chr(97)은 아스키코드 97의 해당하는 문자를 출력함으로 chr(ord('a')는 'a'이다.
따라서 chr(ord('a')) == 'a'는 'a'=='a'와 같으므로 True이다.
- ord 함수는 chr함수와 반대이다.

## Q4.
> filter와 lambda를 사용하여 리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.

In [0]:
# [Q4] Code - 1
print(list(filter(lambda x:x>0,[1,-2,3,-5,8,-3])))

[1, 3, 8]

In [0]:
# [Q4] Code - 2
def positive(list):
    result = []
    for num in list:
      if num > 0:
        result.append(num)
    return result
print(positive([1,-2,3,-5,8,-3]))

[1, 3, 8]

## Q5.
> 234라는 10진수의 16진수는 다음과 같이 구할 수 있다.
```
hex(234)
'0xea'
```
> 이번에는 반대로 16진수 문자열 0xea를 10진수로 변경해 보자.
>>※ 내장 함수 int를 활용해 보자.

In [0]:
# [Q5] Code
int('0xea',16)

234

> int(x, radix)는 radix 진수로 표현된 문자열 x를 10진수로 변환하여 리턴한다. 16진수인 문자열 0xea는 int('0xea',16)을 사용하여 10진수 234로 변경할 수 있다.

## Q6.
> map과 lambda를 사용하여 [1, 2, 3, 4] 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.

In [0]:
# [Q6] Code - 1
list(map(lambda a:a*3, [1,2,3,4]))

[3, 6, 9, 12]

In [0]:
# [Q6] Code - 2
num_list = [1,2,3,4]
list(map(lambda a:a*3,num_list))

[3, 6, 9, 12]

In [0]:
# [Q6] Code - 3
def three_times(x):return x*3
list(map(three_times,[1,2,3,4]))

[3, 6, 9, 12]

In [0]:
# [Q6] Code - 4
def three_times(numberList):
  result = []
  for number in numberList:
    result.append(number*3)
  return result

result = three_times([1,2,3,4])
print(result)

[3, 6, 9, 12]

## Q7.
> 다음 리스트의 최댓값과 최솟값의 합을 구해 보자.
>> [-8, 2, 7, 5, -3, 5, 0, 1]

In [0]:
# [Q7] Code
max([-8, 2, 7, 5, -3, 5, 0, 1])+min([-8, 2, 7, 5, -3, 5, 0, 1])

-1

## Q8.
> 17 / 3의 결과는 다음과 같다.
```
17 / 3
5.666666666666667
```
> 위와 같은 결괏값 5.666666666666667을 소숫점 4자리까지만 반올림하여 표시해 보자.

In [0]:
# [Q8] Code
round(17/3,4)

5.6667

In [0]:
result = 17/3
print("%.4f" %result)

5.6667

## Q9.
> 다음과 같이 실행할 때 입력값을 모두 더하여 출력하는 스크립트

> (C:\doit\myargv.py)를 작성해 보자.
```
C:\> cd doit
C:\doit> python myargv.py 1 2 3 4 5 6 7 8 9 10
55
```
>> ※ 외장 함수 sys.argv를 사용해 보자.

In [0]:
# [Q9] Code
# myargv.py
import sys  # sys모듈 호출.

numbers = sys.argv[1:]   # 파일 이름을 제외한 명령 행의 모든 입력.

result = 0
for number in numbers:
    result += int(number)

print(result)

In [141]:
%run doit/myargv.py 1 2 3 4 5 6 7 8 9 10

55

## Q10.
> os 모듈을 사용하여 다음과 같이 동작하도록 코드를 작성해 보자.

1. ./doit 디렉터리로 이동한다.
2. dir 명령을 실행하고 그 결과를 변수에 담는다.
3. dir 명령의 결과를 출력한다.

In [142]:
# [Q10] Code
import os  # os모듈 호출.
os.chdir("./doit") 

result = os.popen("dir") # os 모듈의 popend를 사용, 시스템 명령어 dir 수행.
print(result.read()) # popend 결과출력.

module.py  myargv.py

## Q11.
> glob 모듈을 사용하여 ./doit 디렉터리의 파일 중 확장자가 .py인 파일만 출력하는 프로그램을 작성해 보자.

In [160]:
# [Q11] Code
import glob # glob 모듈 호출.
glob.glob("/content/doit/*.py")

['/content/doit/myargv.py', '/content/doit/module.py']

## Q12.
> time 모듈을 사용하여 현재 날짜와 시간을 다음과 같은 형식으로 출력해 보자.

- 2018/04/03 17:20:32

In [165]:
# [Q12] Code
import time
time.strftime("%Y/%m/%d %H:%M:%S")
# %Y:년도, %m:달, %d:날, %H:시간, %M:분, %S:초

'2020/06/13 12:14:07'

## Q13.
> random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자(단 중복된 숫자가 있으면 안 됨).

In [178]:
# [Q13] Code - 1
import random # random 모듈 호출

result = [] # 리스트 초기화
while len(result) < 6:
    numbers = random.randint(1, 45) # 1부터 45까지의 난수 발생
    if numbers not in result:
        result.append(numbers)

print(result)

[42, 37, 23, 28, 39, 38]

In [196]:
# [Q13] Code - 2
import random # random 모듈 호출

result = [] # 리스트 초기화
for i in range(6):
    if numbers in result: 
        numbers = random.randint(1,45)  # 1부터 45까지의 난수 발생
    result.append(numbers)

print(result)

[37, 35, 3, 2, 25, 38]

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch5_exercises_id.ipynb