<a href="https://colab.research.google.com/github/dayeong918/py02/blob/master/notebook/ch8_exercises_py02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch8_exercises_py02.ipynb

Q1. 문자열 바꾸기
> 다음과 같은 문자열이 있다.

```
a:b:c:d
```

> 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

```
a#b#c#d
```

In [9]:
# [Q1] Code-1 split,join함수
a = 'a:b:c:d'
b = a.split(':')
c = "#".join(b)

print(b)
print(c)

['a', 'b', 'c', 'd']
a#b#c#d

In [10]:
# [Q1] Code-2 replace함수
a = 'a:b:c:d'
a.replace(':','#')

'a#b#c#d'

## Q2. 딕셔너리 값 추출하기
> 다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
>> a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다.  
>>'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [11]:
# [Q2] Code-1 Key로 value얻기(get)
a = {'A':90, 'B':80}
a.get('C','70') # get(x.'디폴트 값')

'70'

In [14]:
# [Q2] Code-2 해당 Key가 딕셔너리 안에 있는지 조사하기(in)
a = {'A':90, 'B':80} 
if 'C' not in a:
  print('70')

70

## Q3. 리스트의 더하기와 extend 함수
> 다음과 같은 리스트 a가 있다.
```
a = [1, 2, 3]
```
> 리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```
> 리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

> ### + 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

In [16]:
# [Q3] Explain (코드와 주석으로 설명하시오)
a = [1, 2, 3]
print(id(a)) # 140488068288072

a = a + [4 , 5]
a 
id(a) # 140488068416840

#

140488068188744

140488068416840

(Code-1): id함수는 입력받은 리스트의 주소값을 돌려준다. 리스트 값을 추가하기 전과 다른 주소값을 돌려주어 주소값이 다르므로 리스트 a는 값이 변하는 것이 아니라 새로운 리스트가 반환된다는 것임을 알 수 있다.

In [17]:
a = [1, 2, 3]
print(id(a)) # 140488069077640

a.extend([4,5])
id(a) # 140488069077640

140488069077640

140488069077640

(Code-2):'+'기호를 사용한 경우와 다르게 주소값이 변하지 않고 그대로 유지된다.

## Q4. 리스트 총합 구하기
> 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [21]:
# [Q4] Code-1 for문 사용
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25] 

result = 0
for i in A:
  if i >= 50:
    result += i
print(result)

481

In [50]:
# [Q4] Code-2 # for range함수사용
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25] 

result = 0
for num in range(len(A)):
  if A[num] < 50 :continue
  result = result + A[num]
print(result)

SyntaxError: ignored

In [57]:
# [Q4] Code-2 # pop함수 사용
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25] 

result = 0
while A: 
    i = A.pop()
    if i >= 50:
       result += i
print(result)

481

## Q5. 피보나치 함수
> 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, 21, ...
```
> 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [89]:
# [Q5] Code-1
def fib(n):
    if n <= 1:
        return n
    else:
        return fib(n - 1) + fib(n - 2)

for i in range(int(input('출력할 피보나치 수열의 개수: '))):
    print(fib(i), end = ' ')

출력할 피보나치 수열의 개수: 10
0 1 1 2 3 5 8 13 21 34

In [90]:
# [Q5] Code-2 
def fib(num):
    a, b = 0, 1
    for i in range(num):
        a, b = b, a+b
    return a

for i in range(int(input('출력할 피보나치 수열의 개수: '))):
    print(fib(i), end = ' ')

출력할 피보나치 수열의 개수: 10
0 1 1 2 3 5 8 13 21 34

## Q6. 숫자의 총합 구하기
> 사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

```
65,45,2,3,45,8
```

In [98]:
# [Q6] Code-1
number = input("숫자들을 입력하세요: ")
numbers = number.split(",")

def sum(numbers):
    result = 0
    for num in numbers:
      result += int(num)
    return result

print(sum(numbers))

숫자들을 입력하세요: 65,45,2,3,45,8
168

In [99]:
# [Q6] Code-2
def sum_many(*args):
  sum = 0
  for i in args:
    sum = sum + i 
  return sum

sum_many(65,45,2,3,45,8)

168

## Q7. 한 줄 구구단
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [105]:
# [Q7] Code-1
def gugu_dan(number):
  for i in range(1,10):
    print(number * i, end =' ')

number = int(input("구구단을 출력할 숫자를 입력하세요(2~9): "))
gugu_dan(number)

구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18

In [108]:
# [Q7] Code-2
number = int(input("구구단을 출력할 숫자를 입력하세요(2~9): "))
print([number*i for i in range(1,10)], end =' ')

구구단을 출력할 숫자를 입력하세요(2~9): 2
[2, 4, 6, 8, 10, 12, 14, 16, 18]

## Q8. 역순 저장
> 다음과 같은 내용의 파일 abc.txt가 있다.
```
AAA
BBB
CCC
DDD
EEE
```
> 이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.
```
EEE
DDD
CCC
BBB
AAA
```

In [124]:
# [Q8] Code-1
f = open('abc.txt','w')
f.write("AAA")
f.write("\n")
f.write("BBB")
f.write("\n")
f.write("CCC")
f.write("\n")
f.write("DDD")
f.write("\n")
f.write("EEE")
f.close()

f = open('abc.txt','r')
lines = f.readlines()
f.close()

lines.reverse()

f = open('abc.txt', 'w')
for line in lines:
  line = line.strip()
  f.write(line)
  f.write('\n')
f.close()

f = open("/content/abc.txt", "r")
line = f.read()
print(line)
f.close()

EEE
DDD
CCC
BBB
AAA

In [137]:
# [Q8] Code-2
f = open('abc.txt','w')
f.write("AAA")
f.write("\n")
f.write("BBB")
f.write("\n")
f.write("CCC")
f.write("\n")
f.write("DDD")
f.write("\n")
f.write("EEE")
f.close()

with open("abc.txt","r") as f:
  lines = f.readlines()
  lines.reverse()
  for lines in lines:
    print(lines.rstrip())

EEE
DDD
CCC
BBB
AAA

## Q9. 평균값 구하기
> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.
```
70
60
55
75
95
90
80
80
85
100
```

In [152]:
# [Q9] Code-1
f = open("sample.txt",'w')
f.write("70")
f.write("\n")
f.write("60")
f.write("\n")
f.write("55")
f.write("\n")
f.write("75")
f.write("\n")    
f.write("95")
f.write("\n")
f.write("90")
f.write("\n")    
f.write("80")
f.write("\n")
f.write("80")
f.write("\n")
f.write("85")
f.write("\n")
f.write("100")
f.close()

f = open("sample.txt",'r')
score = f.readlines()
f.close()

sum = 0
for i in score:
    sum += int(i)
average = sum / len(score)

print(sum)
print(average)

790
79.0

In [160]:
# [Q9] Code-2
with open("sample.txt", 'r') as f:
  lines = f.read()
lines = lines.split("\n")

sum = 0
for line in lines:
  score = int(line)
  sum += score
average = sum/len(lines)

with open("result.txt",'w') as f:
  f.write(str(sum))
  f.write(str("\n"))
  f.write(str(average))

with open("result.txt",'r') as f:
  lines2 = f.read()
  print(lines2)

790
79.0

## Q10. 사칙연산 계산기
> 다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

In [161]:
# [Q10] Code-1
class Calculator:
  def __init__(self, numList):
    self.numList = numList
  def add(self):
    result = 0
    for num in self.numList:
      result += num
    return result
  def avg(self):
    total = self.add()
    return total/len(self.numList)

cal1 = Calculator([1,2,3,4,5])
print(cal1.add())
print(cal1.avg())

cal2 = Calculator([6,7,8,9,10])
print(cal2.add())
print(cal2.avg())

15
3.0
40
8.0

In [162]:
# [Q10] Code-2
class Calculator:
  def __init__(self, number):
    self.number = number

  def add(self):
    result = 0
    for num in self.number:
      result += num
    return result
class UpgradeCalculator(Calculator):
  def avg(self):
    result = self.add()
    return result / len(self.number)

cal1 = UpgradeCalculator([1,2,3,4,5])
print(cal1.add())
print(cal1.avg())

cal2 = UpgradeCalculator([6,7,8,9,10])
print(cal2.add())
print(cal2.avg())

15
3.0
40
8.0



---

## Q11. 모듈 사용 방법
> ./doit 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 import mymod를 수행할 때 오류가 없어야 한다.)
```
>>> import mymod
>>>
```

In [163]:
!mkdir doit
# 실행 후 새로 고침!
# mymod.py 를 업로드한다.

In [165]:
!mv mymod.py ./doit
# 실행 후 새로 고침!

mv: cannot stat 'mymod.py': No such file or directory

In [168]:
# [Q11] Code-1
import sys
sys.path.append("/content/doit")
import mymod

In [169]:
# [Q11] Code-2
from doit import mymod

## Q12. 오류와 예외 처리
> 다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

In [170]:
# [Q12] Explain (코드와 주석으로 설명하시오)
result = 0 # result 초기값 0지정.

try:
    [1, 2, 3][3] # IndexError가 발생한다.
    "a"+1
     4 / 0
except TypeError: # 발생오류만 포함한 except문으로 오류가 발생했을 때 except문에
    result += 1   # 미리 정해 놓은 오류 이름과 일치할 때만 except블록을 수행한다.
except ZeroDivisionError:
    result += 2
except IndexError: # IndexError발생함으로 result에 3값이 더해짐.
    result += 3
finally: # finally 구문이 실행되어 result에 최종적으로 7값이 저장됨,
    result += 4

print(result) # 7값 출력.

7

## Q13. DashInsert 함수
> DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.
```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

In [174]:
# [Q13] Code-1
data = "4546793"
numbers = list(map(int, data))   # 숫자 문자열을 숫자 리스트로 변경힘.
result = []

for i, num in enumerate(numbers):
    result.append(str(num))
    if i < len(numbers)-1:               
        is_odd = num % 2 == 1                # 현재 숫자가 홀수일때
        is_next_odd = numbers[i+1] % 2 == 1  # 다음 수가 홀수일때
        if is_odd and is_next_odd:           # 연속 홀수시
            result.append("-")
        elif not is_odd and not is_next_odd: # 연속 짝수시
            result.append("*")

print("".join(result))

454*67-9-3

In [ ]:
# [Q13] Code-2

## Q14. 문자열 압축하기
> 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.
```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

In [177]:
# [Q14] Code-1
s = 'aabbbbcccd'
result = s[0]  # 첫번째 값을 결과에 넣는다
count  = 0

for st in s:
    if st == result[-1]:
        count += 1
    else:
        result += str(count) + st
        count = 1
result += str(count)

print(result)

a2b4c3d1

In [182]:
# [Q14] Code-2
def zip(sentence):
    count = 0   # 문자를 세기 위한 변수
    next = ""   # sentence가 달라지는 곳을 감지하는 수단
    result = "" # 결과를 저장하는 공간
    for i in sentence:
        if next != i:
            next = i
            if count:
                result += str(count)
            result += i
            count = 1
        else:
            count += 1
    if count:
        result += str(count)
    return result

sentence = 'aaabbcccccca'
print(zip(sentence))

a3b2c6a1

## Q15. Duplicate Numbers
> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.
```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

In [184]:
# [Q15] Code-1
def chkDupNum(s):
  result = []
  for num in s:
    if num in result:
      return False
    else:
      result.append(num)
  return len(result) == 10

print(chkDupNum("0123456789"))      # True 리턴
print(chkDupNum("01234"))           # False 리턴
print(chkDupNum("01234567890"))     # False 리턴
print(chkDupNum("6789012345"))      # True 리턴
print(chkDupNum("012322456789"))

True
False
False
True
False

In [ ]:
# [Q15] Code-2

## Q16. 모스 부호 해독
> 문자열 형식으로 입력받은 모스 부호(dot:. dash:-)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

- 글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
- 예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.
```
.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
```
> 모스부호 규칙 표
```
문자 부호	문자   부호
A	 .-	    N	    -.
B	 -...	O	    ---
C	 -.-.	P	    .--.
D	 -..	Q	    --.-
E	 .	    R	    .-.
F	 ..-.	S	    ...
G	 --.	T	    -
H	 ....	U	    ..-
I	 ..	    V	    ...-
J	 .---	W	    .--
K	 -.-	X	    -..-
L	 .-..	Y	    -.--
M	 --	    Z	    --..
```

In [183]:
# [Q16] Code-1
a = {'':' ','.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F','--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L','--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R','...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X','-.--':'Y','--..':'Z'}
morse = ".... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--"
words = morse.split(" ")
for i in words:
    print(a[i],end="")

HE SLEEPS EARLY

In [ ]:
# [Q16] Code-2



---

# 다음 정규식 문제는 기말고사 후에 도전해 보세요.

## Regular Expression
- import re

## Q17. 기초 메타 문자
> 다음 중 정규식 a[.]{3,}b과 매치되는 문자열은 무엇일까?


```
acccb
a....b
aaab
a.cccb
```

In [ ]:
# [Q17] Code

## Q18. 문자열 검색
> 다음 코드의 결괏값은 무엇일까?

```
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

In [ ]:
# [Q18] Code

## Q19. 그루핑
> 다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
```

In [ ]:
# [Q19] Code

## Q20. 전방 탐색
> 다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

```
.*[@].*[.].*$
```

In [ ]:
# [Q20] Code

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch8_exercises_id.ipynb