<a href="https://colab.research.google.com/github/dayeong918/py02/blob/master/notebook/mid_exam_py02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파이썬활용 중간고사 풀이_py02

## 문제1. 다음식의 연산 결과는?
> - a = 5
- b = 3
- a**b

>> 답 : 125

In [4]:
a = 5     # a라는 변수에 정수 5대입.
b = 3     # b라는 변수에 정수 3대입.
a**b      # 산술 연산자 (Arithmetic Operators), '**'는 제곱을 의미한다.
# ex) a**b = a^b 
# 5**3 = 5^3 = 5*5*5=125
# 125 결과값으로 125가 출력된다.

125

## 문제2. 다음 문자열 a에 대하여 슬라이싱을 한 결과는?
> - a = "Life is too short, You need Python!"
- a[-16:-8]

>> 답 : 'You need'

문자열 슬라이싱: a[시작 번호:끝 번호]를 지정하면 끝 번호에 해당하는 것은 포함되지 않는다.
ex) a[0:3] : a <= a <3

슬라이싱에서도 인덱싱과 마찬가지로 마이너스(-)기호를 사용할 수 있다.
ex) a[19:-7] : a[19]~ a[-8]

In [3]:
a = "Life is too short, You need Python!" # a라는 변수에 다음과 같은 문자열 대입
a[-16:-8]  # a[-16] ~ a[-9]까지를 의미한다.
# 뒤에서 16번째 문자부터 뒤에서 9까지 문자까지의 문자열
# a[-16]:Y ~a[-9]:d = 'You need'
print(a[-16:-8])
#'You need'가 출력된다.

You need

## 문제3. 다음 list a의 인덱싱 결과는?
>- a = [1,2,(3,4), ['a','b',['My', 'Life','Good']]]
- a[3][-1][0]

>> 답 : 'My'

삼중 리스트에서 인덱싱하기

리스트 a안에 [['a','b',['My', 'Life','Good']] 라는 리스트가 포함되어 있고, 그 리스트 안에 다시 ['My', 'Life','Good'] 라는 리스트가 포함되어 있다. 삼중 구조의 리스트이다.

In [6]:
a = [1,2,(3,4), ['a','b',['My', 'Life','Good']]] 
a[3][-1][0] 
# 리스트 a의 세 번째 요소인 리스트 [['a','b',['My', 'Life','Good']]에서 
# 뒤에서 첫번째 요소인 리스트 ['My', 'Life','Good']의 첫 번째 요소 'My'를 나타낸다.
# 인덱싱 결과는 'My'이다.

'My'

## 문제4. 다음 tuple t1의 슬라이싱 결과는?
> - t1 = (0, 1, "s", "t", "u")
- t1[2:-2]

>> 답 : ('s',)

튜플 자료형

1 리스트는 [과 ]으로 둘러싸지만 튜플은 (과 )으로 둘러싼다.
2 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.
3 t2(1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야한다.

In [7]:
t1 = (0, 1, "s", "t", "u")
#     0  1   2    3    4 
#    -5 -4  -3   -2   -1
t1[2:-2] # 튜플 슬라이싱.
# t1[2:-2] = t1[2]~t[-3]까지의 요소와 동일
# t1[2]의 요소 's'부터 t1의 마지막에서 세 번째 요소 's'까지의 요소이므로 's'요소를 의미한다.
## @튜플자료형은 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야함으로 결과값은 ('s',)이다.

('s',)

## 문제5. 다음 bool 값 출력 중 정확한 것은?
> bool([0,1,2]), bool([0]), bool((0)), bool((0,))

>> 답 : (True,True,False,True)

불(bool) 자료형은 참(True)과 거짓(False)을 나타내는 자료형이다.
- 숫자 0을 제외한 모든 수 - true
- 빈 딕셔너리, 빈 리스트를 제외한 모든 딕셔너리, 리스트 - true
- 아무 값도 없다는 의미인 None - false
- 빈문자열을 제외한 모든 문자열 - true.

In [8]:
bool([0,1,2]), bool([0]), bool((0)), bool((0,))
# 1. bool([0,1,2]) = 0,1,2 요소값이 들어간 리스트임으로 bool값은 True가 출력된다.
# 2. bool([0]) = 0 요소값이 든 리스트임으로 bool값은 True가 출력된다.
# 3. bool((0)) = bool값안에 든 (0)는 0과 동일함으로((0) == 0) 숫자 0이 들어감으로 False가 출력된다.
# 4. bool((0,)) = (0,) = 내부가 있으므로 True값이 출력된다.
# 결과값: (True,True,False,True)

(True, True, False, True)

## 문제6. 다음 조건문을 1줄 코드로 변경하시오.
> - score = 80
```
if score>=60:
    message = "success"
else:
    message = "faliure"
```

조건표현식 : 간단한 if문은 조건표현식으로 한 줄에 작성할 수 있다.

공식 : (True일 경우) (if 조건식) (else) (False일 경우)

>> 답 : message = "success" if score >= 60 else "faliure"

In [12]:
# 다음 제시한 조건문을 1줄 코드로 만들기 위해 (True일 경우,if 조건식, else, False일 경우)로 코드를 작성해보았다.
# True일 경우 출력될 <message = "success"> + if 조건식 <if score>=60> + else, <else> + False일 경우 출력될 <faliure> 순으로 코드를 작성하면 다음과 같다.
# message = "success" if score >= 60 else "faliure"
# (실행)
score = 80
message = "success" if score>= 60 else "faliure"
print(message) # score이 60이상이므로 출력값은 success가 나온다. 다음과 같이 한줄코드를 사용하여 success값을 출력하였다.

success

## 문제7. 다음 코드의 실행 결과는?
>
``` 
1  games = ["A", "B" ,"C"]
2 
3  for cnt in range(len(games)):
4     print(cnt, games[cnt], end=',')
```

>> 답 : 0 A,1 B,2 C,

- for 문의 in 연산자는 in 뒤의 데이터가 있을 경우 True를 리턴하며, 변수는 반복에 따라 해당 데이터를 순차적으로 할당받게 된다. 더 이상 in 뒤의 데이터가 없을 경우 False를 리턴하며 for 문은 종료된다.

- range 함수는 파이썬의 내장함수이며 숫자 리스트를 자동으로 만들어주는 함수이다.

- end = '' 문장을 출력하고 마지막에 무엇을 쓰고 끝낼지 정해준다.

In [15]:
games = ["A", "B" ,"C"]  # games라는 변수에 ["A,","B" ,"C"]라는 값을 설정한다.
 
for cnt in range(len(games)): # len(games)는 games안의 요소들의 개수를 의미, len(games)= 3이다.
# 그러므로 for cnt in range(3)과 같아진다, 이때 range(3)은 0부터 3미만의 숫자를 포함하는 range 객체를 만들어 준다.
# for문의 in 연산자는 0,1,2값의 데이터가 있으므로 True를 리턴하며, 변수 cnt는 반복에 따라 해당 데이터를 순차적으로 할당받게 된다.
   print(cnt, games[cnt], end=',') # for문이 반복할 때마다, cnt에 0,1,2의 값이 print함수로 출력된다.
   # 예를 들어 cnt가 0일때, cnt값으로 0, games[0]은 리스트의 첫번째요소값 "A"를 출력하고 이때마다, end=','값도 출력되어 '0 A,'이 print함수를 통해 출력된다.
   # 이와 같은 방식으로 cnt가 1일때, game[1]='B'그리고 end=','로 '1 B,'값 출력이 된다.
   # 마지막으로 cnt가 2일때, game[2] ='C'이며 end','로 '2 C,'값을 출력하고 for문이 종료가 된다. 
   # 0 A,1 B,2 C,  : 결과값은 다음과 같다.

0 A,1 B,2 C,

## 문제8. 다음의 결과가 출력되지 않는 것은? 
###'I ate 10 apples, so I was sick for three days.'
```
# code start
number = 10
day = "three"
_______________________
```
##### ▲ "I ate {0} apples, so I was sick for {1} days.".format(10,day)
#####◆ f"I ate {number} apples, so I was sick for {day} days."
##### ● f"I ate {number} apples, so I was sick for {'three'} days."
##### ■ "I ate {0} apples. so I was sick for {1} days.".format(number=10, day)

>> 답 : ■ "I ate {0} apples. so I was sick for {1} days.".format(number=10, day)

> format함수를 이용한 문자열 포매팅, f 문자열 포매팅

In [33]:
# ▲ "I ate {0} apples, so I was sick for {1} days.".format(10,day) (O)
number = 10
day = "three"
# "I ate {0} apples, so I was sick for {1} days.".format(10,day)
print("I ate {0} apples, so I was sick for {1} days.".format(10,day))
# 2개 이상의 값을 넣을 경우 문자열의 {0},{1}과 같은 인덱스 항목들이 format함수의 입력값들로 순서에 맞게 바뀐다.
# {0}은 format함수의 첫 번째 입력값인 10으로 바뀌고, {1}은 format함수의 두 번째 입력값인 day로 바뀐다.

# ◆ f"I ate {number} apples, so I was sick for {day} days." (O)
number = 10
day = "three"
# f"I ate {number} apples, so I was sick for {day} days." 
print(f"I ate {number} apples, so I was sick for {day} days." ) 
# f 문자열 포매팅은 위와 같이 name, day와 같은 변수 값을 생성한 후에 그 값을 참조할 수 있다.
# {number}에 10, {day}에 "three"의 값을 f 문자열 포매팅을 통해 출력하여 문장을 만든다.

# ● f"I ate {number} apples, so I was sick for {'three'} days." (O)
number = 10
day = "three"
# f"I ate {number} apples, so I was sick for {'three'} days."
print(f"I ate {number} apples, so I was sick for {'three'} days.")
# f 문자열 포매팅을 사용하였고 {number}= 10, {'three'}= three가 출력하여 문장을 만든다.

# ■ "I ate {0} apples. so I was sick for {1} days.".format(number=10, day) (X)
number = 10
day = "three"
# "I ate {0} apples. so I was sick for {1} days.".format(number=10,day) 
# SyntaxError: positional argument follows keyword argument
# 키워드 인수에 따른 위치의 인수 오류
# (수정) ■ "I ate {0} apples. so I was sick for {day} days.".format(number,day="three")
print("I ate {0} apples. so I was sick for {day} days.".format(number,day="three"))

I ate 10 apples, so I was sick for three days.
I ate 10 apples, so I was sick for three days.
I ate 10 apples, so I was sick for three days.
I ate 10 apples. so I was sick for three days.

### 문제9. 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한 줄 코드를 작성하시오.
>
```
5 + 10 + 15 + 20 + 25 + .....

... + 955 + 960 + 965 + 970 + 

975 + ... + 995 + 1000 = ?
```

>> 답 : sum([num for num in range(1,1001) if num % 5 == 0])

- 리스트 내포(List comprehension)

- 리스트 내포의 일반 문법 : [표현식 for 항목 in 반복가능객체 if 조건문]

In [36]:
sum([num for num in range(1,1001) if num % 5 == 0])
# [num for num in range(1,1001) if num % 5 == 0]에 파이썬 내장함수 sum을 사용.
# range(1,1001) : 1~1000까지의 숫자를 의미한다. for문의 in 연산자는 0에서 1000까지 데이터가 있으므로 True를 리턴하고
# 변수 num은 반복에 따라 해당 데이터를 순차적으로 할당받게 된다. if 조건문에 의하여 num값이 5로 나눴을 때 0, 즉 5의 배수일때
# 표현식 num을 통해 1부터 1000중 5의 배수들을 리스트 형식으로 출력된다.
print([num for num in range(1,1001) if num % 5 == 0])
# 다음 sum값을 사용하여 1부터 1000사이의 자연수 중 5의 배수의 합을 구할 수 있다.
sum([num for num in range(1,1001) if num % 5 == 0])

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995, 1000]

100500

## 문제10. 4개 과목의 평균 성적을 구하시오. [a],[b]에 적합한 코드는?
```
subjects = ['python','english','math','science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in [a].________(subjects, scores):
    total += score
    print(subject, score)

print("평균 점수 = {0}".format([b].________________))
```
##### ▲ enumerate, scores/len(subjects)
##### ◆ zip, scores/len(subjects)
##### ● enumerate, total/len(subjects)
##### ■ zip, total/len(subjects)

>> 답 : ■ zip, total/len(subjects)

1. enumerate함수
- 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력받아 인덱스 값에 포함시키는 역할을 한다.

2. zip()함수
- 동일한 개수로 이루어진 자료형을 묶어주는 함수
- zip구조(객체), 데이터가 자리잡고 있는 주소가 리턴된다

In [38]:
# 1
# enumerate를 사용한 바른 코드.
subjects = ['python','english','math','science']
scores = [88, 77, 66, 95]
total = 0

for num, subject in enumerate(subjects): # enumerate함수를 사용하여 출력하려면 제시된 문제의 형식과 다르게 subjects나 scores 하나의 값을 대입해야한다.
  score = scores[num]                    # 그러므로 enumerate함수를 사용한 ▲,●은 정답이 될 수 없다.
  total += score
  print(subject, score)

print("평균점수 = {0}".format(total/len(subjects))) 

# 2
# zip함수를 사용한 바른 코드.
subjects = ['python','english','math','science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in zip(subjects, scores): # zip함수를 사용하여 출력하면 제시된 문제의 형식과 같이 zip함수안에 subjects, scores를 대입할 수 있다.
  total += score                             # 그러므로 zip함수를 사용한 ◆,■는 맞다.
  print(subject, score)

print("평균점수 = {0}".format(total/len(subjects))) # 점수의 합인 total에 과목의 개수, 혹은 점수의 개수를 나누어야 평균 점수가 된다.
                                               # ◆ zip, scores/len(subjects)는 리스트 형식의 과목들을 정수값으로 나눌수가 없으므로 정답이 아니다.
                                               # ■ zip, total/len(subjects)은 전체 점수의 합을 과목 리스트의 요소값(점수의 개수)로 나누었으므로 정답이다.

python 88
english 77
math 66
science 95
평균점수 = 81.5
python 88
english 77
math 66
science 95
평균점수 = 81.5