<a href="https://colab.research.google.com/github/dayeong918/py02/blob/master/ch2_code01_py02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch2_code01.ipynb
## py02

In [0]:
# ch2_01_numeric.py
#
print("숫자형: 정수") # 동적타이핑(Dynamic typing) 변수값미리지정X
a = 123  
a = -178 #a에 맨 마지막으로 바뀐 수가 출력된다.
# a = 0
#a
print(a)

숫자형: 정수
-178

In [0]:
a1 = 123
a2 = -178
a3 = 0
#a1,a2,a3 #이때 출력값 = (123, -178, 0)
print(a1,a2,a3) #특정한 수를 출력할 때 print 사용
a

123 -178 0

NameError: ignored

In [0]:
print("a1 = ", a1)

NameError: ignored

### 다음과 같이 출력해 보세요.
> a1 = 123 a2 = -179 a3 = 0

In [0]:
print("a1 = ",a1," , a2 = ",a2,", a3 = ",a3)

NameError: ignored

### 숫자형: 실수
> 파이썬에서 실수를 표현해보자.

In [0]:
print("숫자형: 실수")
a1 = 1.2
a2 = -3.48
a3 = 4.24e10
a4 = 4.24e-10
a1,a2,a3,a4

숫자형: 실수

(1.2, -3.48, 42400000000.0, 4.24e-10)

In [0]:
print("숫자형: 8진수와 16진수")
a = 0o177
print(a)
a = 0x8FF  # Hexadecimal : 16진수, 0 ~ F(0~15:16개)
print(a)
a = 0xABC
a

숫자형: 8진수와 16진수
127
2303

2748

### 숫자형: 연산자와 연산

In [0]:
print("숫자형: 연산자와 연산")
a = 3
b = 4
a + b
a * b
a / b

In [0]:
print(a ** b)
print(a % b)
print(b % a)
a // b

NameError: ignored

In [0]:
14 // 3 , 14 % 3  #추플데이터형 한묶음으로 묶어줌

(4, 2)

## 문자열 정의와 출력

In [0]:
# ch2_02_string.py
# "Life is too short, you need python"
# 'Life is too short, you need python'
# """Life is too short, you need python"""
# '''Life is too short, you need python'''

print("문자열: '")
food = "Python's favorite food is perl"
food

문자열: '

"Python's favorite food is perl"

In [0]:
food = 'Python's favorite food is perl'  # Error

SyntaxError: ignored

In [0]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [0]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

In [0]:
print("문자열: \ 이용") # \'(문자 작은따옴표로 표시됨) 
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food)
print(say)
say #문자열변수로 인식 : ('작은따옴표로 감싸서 표시')

문자열: \ 이용
Python's favorite food is perl
"Python is very easy." he says.

'"Python is very easy." he says.'

### 이스케이프 코드를 사용한 출력

In [0]:
# 이스케이프 코드 : print함수일때 사용가능
print("문자열: 이스케이프 코드 이용")
multiline = "Life is too short\nYou need python" #\n : 줄바꿈
#multiline #줄바꿈x 문자열로 Wn표시
print(multiline) #줄바꿈o

문자열: 이스케이프 코드 이용
Life is too short
You need python

### 여러줄 문자열 처리
- """.... """
- '''.... '''

In [0]:
# 여러줄 문자열 처리
multiline = '''
... Life is too short
... You need python
... '''
multiline2 = """
인생은 짧고,
파이썬은 필요하다.
"""
multiline3 = """인생은 짧고, #줄바꿈이 바로 이루어짐
파이썬은 필요하다.
"""

print(multiline)
print(multiline2)
print(multiline3)

Life is too short
You need python


인생은 짧고,
파이썬은 필요하다.

인생은 짧고,
파이썬은 필요하다.

### 문자열 연산

In [0]:
################################################
print("문자열 연산: 더하기")
head = "Python"
tail = " is fun!"
head + tail

문자열 연산: 더하기

'Python is fun!'

In [0]:
print("문자열 연산: 곱하기")
a = "python"
a * 2

문자열 연산: 곱하기

'pythonpython'

In [0]:
#####################################
# multistring.py
print("=" * 50)
print("I am now coding Python!")
print("*" * 50)
#####################################

==================================================
I am now coding Python!
**************************************************

In [0]:
# 내장함수: len()
print("문자열 연산: 길이 구하기 - len()")
a = "Life is too short."
len(a)

문자열 연산: 길이 구하기 - len()

18

### 문자열 인덱싱, 슬라이싱

In [0]:
##################################### 제일중요한 하이라이트
#
# 문자열 인덱싱과 슬라이싱
#
##################################### 파이썬은 인덱스가 0부터 시작
print("문자열: 인덱싱이란?") 
a = "Life is too short, You need Python" # L=0, i=1 ```
print(a[3])
print(a[15])
print(a[21]) #중간고사 (인덱스는 0부터 시작)

문자열: 인덱싱이란?
e
r

In [0]:
# "파이썬은 0부터 숫자를 센다."
print("문자열: 인덱싱 활용")

a = "Life is too short, You need Python"
# a[0] # L

# a[12] # s

# a[-1] # n (끝에서부터 첫번째) 인벌스 인덱싱

# a[-0] # L
# a[-2] # o
# a[-5] 
# a[-12]

문자열: 인덱싱 활용

'L'

In [0]:
#####################################
print("문자열: 슬라이싱이란?")
a = "Life is too short, You need Python"
# Life 를 뽑아낼려면 어떻게?
b = a[0] + a[1] + a[2] + a[3]  # 문자열 뎌하기 연산 "L", "i" 일일히 하는 불편함 -> 슬라이싱 사용
b

문자열: 슬라이싱이란?

'Life'

In [0]:
# slicing (슬라이싱)
a[0:4]  # 0 <= index < 4

'Life'

In [0]:
a[0:5]
print(a[5:7])
print(a[12:17])

n

In [0]:
 # : 의 사용
print(a[:4]) #맨 처음부터 4까지(0~3)
print(a[19:]) #인덱스 19부터 끝까지(18~끝)
print(a[:17]) #처음부터 인덱스 17까지(0~16)

Pith

Pithon

In [11]:
a = "Life is too short, You need Python"
a

'Life is too short, You need Python'

In [14]:
a[0:4]
a[:4] 
a[:] ##맨처음부터 마지막까지

'Life is too short, You need Python'

In [15]:
# a[19:-7] ?  ##중간고사 
a[19:-7]

'You need'

In [16]:
print("문자열: 슬라이싱 응용?")
a = "20190909Sunny"
date = a[:8]
weather = a[8:]
date,weather

문자열: 슬라이싱 응용?

('20190909', 'Sunny')

In [17]:
a = "20190917Rainy"
year = a[:4] #2019  
day = a[4:8] #0917  
weather = a[8:] #Rainy
year,day,weather

('2019', '0917', 'Rainy')

In [2]:
# "Pithon"이라는 문자열을 "Python"으로 바꾸려면?
a = "Pithon"
print(a[1])
a[1] = 'y'  # Error (immutable한 자료형)

i

TypeError: ignored

In [21]:
#################
a = "Pithon"
print(a[:1]) #P
print(a[2:]) #thon
a[:1] + 'y' + a[2:]  # Python
a
a,a[:1], a[2:],a[:1]+'y'+ a[2:]

P
thon

('Pithon', 'P', 'thon', 'Python')

## 문자열 포매팅과 출력

In [22]:
# ch2_03_string_formating.py

print("문자열: 포매팅이란?")
# 1. 숫자 바로 대입
"I eat %d apples." % 3

문자열: 포매팅이란?

'I eat 3 apples.'

In [23]:
# 2. 문자열 바로 대입
"I eat %s apples." % "five"

'I eat five apples.'

In [24]:
# 3. 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [26]:
# 4. 2개 이상의 값 넣기
number = 10
day = "three"
# "I ate %d apples. so I was sick for %s days." % number , day   # Error
 "I ate %d apples. so I was sick for %s days." % (number, day)
# 소괄호 안에 콤마(,)로 구분하여 각각의 값을 넣어 준다.

IndentationError: ignored

ERROR! Session/line number was not unique in database. History logging moved to new session 67

In [29]:
print("문자열: 포맷 코드")
# %d, %s, %c, %f, %o, %x, %%
# %s, 묵시적 형변환
# "I have %s apples" % 3
#"rate is %s" % 3.234

# "Error is %d%." % 98
"Error is %d%%." % 98 #%를 문자로 나오게 하기위해 %%입력

문자열: 포맷 코드

'Error is 98%.'

In [34]:
###############################################-p60
print("문자열: 포맷 코드와 숫자 함께 사용하기")
# 1. 정렬과 공백
# "%-5s" % "hi"
"%-4sjane." % "hi"

문자열: 포맷 코드와 숫자 함께 사용하기

'hi  jane.'

In [37]:
# 2. 소수점 표현하기
# "%f" % 3.42134234 #원래 f는 6째자리까지 출력
"%10.4f" % 3.42134234 #?다시보기

'    3.4213'

### format() 함수 이용한 문자열 출력

In [40]:
print("문자열: format 함수를 사용한 포매팅")
# 1. 숫자 바로 대입하기
# "I eat {0} apples".format(3)
"I eat {1} {0} apples".format(3, 4)

문자열: format 함수를 사용한 포매팅

'I eat 4 3 apples'

In [41]:
# 2. 문자열 바로 대입하기
# "I eat {0} apples".format("five")
"I eat {0} apples from {1} boxes".format("five", "three")

'I eat five apples from three boxes'

In [43]:
# 3. 숫자 값을 가진 변수로 대입하기
number = 3
# "I eat {0} apples".format(number)
"I eat {0} apples".format(number + 1)

'I eat 4 apples'

In [46]:
# 2개 이상의 값 넣기
number = 10
day = "three"
# "I ate {0} apples. so I was sick for {1} days.".format(number, day)
# # 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)
# # 인덱스와 이름을 혼용해서 넣기
# "I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [55]:
#
######################################
# 왼쪽 정렬/ 오른쪽 정렬
# "{0:<10}".format("hi")
# "{0:>10}".format("hi")
# # 가운데 정렬 
# "{0:^10}".format("hi") # 10중간 정렬
# # 공백 채우기
# "{0:=!^10}".format("hi")
# "{0:!<10}".format("hi")
# 도전하기
"{0:<3}{1:>10}".format("hi",'hcit')

'hi       hcit'

In [58]:
########################################

# 소수점 표현하기
y = 3.42134234
# "{0:0.4f}".format(y)
# "{0:10.4f}".format(y)
# { 또는 } 문자 표현하기
"{{ and }}".format() ##{{ }} 중괄호출력하기위함.

'{ and }'

In [60]:
##########################
##### f 문자열 포매팅 #####
##### .format() 대체
##########################
print("문자열: f 문자열 포매팅")
name = "홍길동"
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

# age = 30
f"나는 내년이면 {age+1}살이 된다."

문자열: f 문자열 포매팅

'나는 내년이면 31살이 된다.'

In [61]:
# 딕셔너리는 f 문자열 포매팅에서 다음과 같이 사용
d = {"name": "홍길동", "age": 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [64]:
# 정렬
# f'{"hi":<10}'  # 왼쪽 정렬
# f'{"hi":>10}'  # 오른쪽 정렬
f'{"hi":^10}'  # 가운데 정렬

'    hi    '

In [66]:
# 공백 채우기
y = 3.42134234
# f"{y:0.4f}"  # 소수점 4자리까지만 표현
# f"{y:10.4f}"  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
# { } 문자를 표시
f"{{ and }}"

'{ and }'

In [67]:
##############################################
print("문자열: 관련 내장 함수들")
# 문자 개수 세기(count)
a = "hobby"
a.count("b") # a라는 문자객체에 들어있는 b의 문제객체의 개수함수

문자열: 관련 내장 함수들

2

In [72]:
# 위치 알려주기1(find)
a = "Python is the best choice" ##문자열형 객체함수
# a.find("b") 
a.find("k")  # what value? #k라는 문자가 없다면 -1출력.
# # 위치 알려주기2(index)
a = "Life is  too short"
# a.index("t")
a.index("k") ##없는 문자가 있을때는 index함수는 에러를 발생한다.

ValueError: ignored

In [74]:
# 문자열 삽입(join)
# ",".join("abcd") #,(콤마)도 문자열이다.
",".join(["a", "b", "c", "d"]) #리스트구조사용([]구조)

'a,b,c,d'

In [76]:
# 소문자를 대문자로 바꾸기(upper)
# a = "hi"
# a.upper() 
# # 대문자를 소문자로 바꾸기(lower)
a = "IoT"
a.lower()

'iot'

In [78]:
##중요~~
# 왼쪽 공백 지우기(lstrip) ##strip(알짜만남기고없앤다)
a = " hi "
# a.lstrip()
# 오른쪽 공백 지우기(rstrip)
a.rstrip()
# 양쪽 공백 지우기(strip)
# a.strip()

' hi'

In [79]:
# 문자열 바꾸기(replace)
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [80]:
##중요
# 문자열 나누기(split) -> 리스트([])로 변환하여 반환
a = "Life is too short" ##공백으로 나눈 문자열
a.split()
# b = "a:b:c:d"
# b.split(":")

['Life', 'is', 'too', 'short']

In [1]:
#### 도전하기 ##### 중간고사 5개!!
# format 함수 또는 f 문자열 포매팅을 이용해서 '!!!python!!!' 문자열을 출력해보시오.
"{0:!^12}".format("python")
f'{"python":!^12}'

'!!!python!!!'